body{top center;
	margin: 0;
	background-color: #e5e5e5;
	/*font-size: 24px;*/
	font-family: "Microsoft JhengHei","Microsoft YaHei", Verdana, Arial;
}
/*header區*/
#header{ background:#131313; width:100%; height:45px; margin:0 auto;}
#header .header-logo{ width:120px; height:24px; background:url(../images/infocus_logo.png) no-repeat; margin-top:10px; margin-left:30px; display:inline-block;}
#header .header-event-logo{width:80px; height:24px; background:url(../images/infocus_event_logo.png) no-repeat; margin-top:10px; margin-left:10px; display:inline-block;}
#header .header-member{position: absolute; padding: 12px 13px; right: 1em;  display: inline-block; font-size:13px;}
#header .header-member a{color:#F5F5F5;text-decoration: none;background:url(../images/icon_user.png) no-repeat 0px 3px; padding-left:15px;}
#header .header-member a:hover{color:#00a0e9;background:url(../images/icon_user_over.png) no-repeat 0px 3px;}

/*首頁KV*/
.kv-box{ background:url(../images/kv_bg.gif) repeat;overflow: hidden;zoom: 1; position: relative;}
#index_b_hero { width: 980px; height: 420px; margin: auto; position: relative; }
#index_b_hero img { width: 980px; height: 420px; }
#index_b_hero .hero-wrap { overflow: visible; position: absolute; }
#index_b_hero .heros { width: 980px; height: 420px; }
#index_b_hero .hero-wrap .heros li{ margin-top: 0px;/*left:0;*/}
#index_b_hero .next, #index_b_hero .prev { filter: alpha(Opacity=70); opacity: .7; position: absolute; top: 50%; margin-top: -25px; margin-left: -25px; background-color: #000; z-index: 4; }
#index_b_hero .next:hover, #index_b_hero .prev:hover { background-color: #09f; }
#index_b_hero .next { margin: -25px 5px 0 0; right: -30px; }
#index_b_hero .disabled { background-color: #eee; }
#index_b_hero .mask-left, #index_b_hero .mask-right, #index_b_hero .hero { /*background: #fff;*/ z-index: 1; position: absolute; top: 0; left: 0; width: 980px; height: 420px; overflow: hidden; left: 1960px; }
#index_b_hero .mask-right, #index_b_hero .mask-left { z-index: 3; left: -980px; filter: alpha(Opacity=50); opacity: .5; background:url(../images/kv_bg.gif) repeat; /*background: #fff;*/ overflow: hidden; }
#index_b_hero .mask-right { left: 980px; }
.icon-arrow-a-left, .icon-arrow-a-right { background: url(../images/icon-sd26986d847.png) no-repeat; }
.icon-arrow-a-left { background-position: 8px 10px; height: 70px; width: 70px; border-radius:35px;}
.icon-arrow-a-left:hover, .icon-arrow-a-left.arrow-a-left_hover, .icon-arrow-a-left.arrow-a-left-hover { background-position: 8px 10px; }
.icon-arrow-a-right { background-position: -40px 10px; height: 70px; width: 70px; border-radius:35px;}
.icon-arrow-a-right:hover, .icon-arrow-a-right.arrow-a-right_hover, .icon-arrow-a-right.arrow-a-right-hover { background-position:-40px 10px; }


/*內容區*/
.wrapper{width:100%;height: auto; margin:0 auto;}
.main{ width:980px; height:auto; margin:auto;}

/*內容區-首頁*/
.index-main{ width:1020px; height:auto; margin:auto;}
.index-main .index-bn-box{ width:100%;height:auto; margin:auto; margin-top:20px;}
.index-main .index-bn{ width:300px; height:240px; background-color:#FFF; /*display:inline-block;*/vertical-align: middle; margin:20px; float:left;}
.index-main .index-bn:hover{filter: alpha(Opacity=70); opacity: .7;}
.index-main .index-bn img{width:300px; height:128px; display:block;}
.index-main .index-bn h4{font-size: 20px;color:#242424;font-weight: normal;margin:10px;}
.index-main .index-bn .event-date{font-size: 18px;color:#242424;font-weight: normal; margin:0 10px;letter-spacing:normal; background: url(../images/icon_clock.png) no-repeat left center; padding-left:22px;}
.index-main .more-bar{ width:980px; margin:auto;}
.index-main a.btn-more{ height:36px; margin:auto; font-size:18px;text-align:center;line-height:36px; display:block; color:#09f;background-color:#f4f4f4; }
.index-main a.btn-more:hover{ background-color:#fff;filter: alpha(Opacity=70); opacity: .7;}


/*內容區-內頁*/
.page-banner {width:980px; height:auto; margin:auto; padding-top:20px;}
.page-banner-wrapper{ width:980px; height:420px; margin:auto; background:url(../images/banner_01.jpg) no-repeat center top;}
.page-banner h1{font-size: 24px;color:#242424;margin: 36px auto 36px auto;font-weight: normal;}
.page-main{ width:980px; height:auto; margin:0 auto; background-color:#FFF; padding-bottom:40px;}
.page-main .session{  padding: 28px 0;  border-bottom: solid 1px #dddddd; width:90%; margin:auto;}
.page-main .session h2{font-size: 24px;color:#242424;font-weight: bold;}
.page-main .session-h2-block{ display:inline-block; width:200px;}
.page-main .session i{ border-right: solid 6px #242424; margin-right:10px; height:22px;}
.page-main .session p{font-size: 20px;color:#242424;font-weight: normal;letter-spacing:normal; margin-top:16px;}
.page-main .session img{ display:inline-block; margin-top:10px; margin-bottom:10px;}
.page-main .session ol, .session ul{padding-left: 40px;}
.page-main .session ol li, .session ul li{font-size: 20px;color:#242424;font-weight: normal;letter-spacing:normal; list-style-type:decimal; list-style-position: outside;margin-top:10px;}
.page-main .session ul li{list-style-type:disc;}
.page-main .session .date{font-size: 24px; display:inline-block;}
.page-main .session .end{color:#a9a9a9;}
.page-main .session .date .end-stickers{background-color: #d24242;font-size: 14px;color: #fff;font-style: italic; font-weight:bold; margin-left:10px; padding:3px 5px;}

/*winner*/
.page-main .session .winner-title{ height:74px; line-height:74px; background:url(../images/winner_title_bg.png) no-repeat left bottom;padding-left:60px;padding-top:30px;}
.page-main .session .table{font-size: 20px;color:#242424;font-weight: normal;}
.page-main .session .table th{ color:#888888; border-top: none;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { padding-top:20px; padding-bottom:20px;line-height: 1.42857143; vertical-align: top;border-bottom: 1px solid #dddddd;text-align: center;}
.page-main .winner-session-bottom{border-bottom: none;padding:0;}
/*registration*/
.page-main .caption{width:90%;margin: auto; padding-top:30px;}
.page-main .caption span{background-color: #fffbc7;font-size: 24px;color: #fe3535;font-style: italic; display:block; padding:10px 4px;}
.page-main .caption i{font-style: italic; padding-left:20px; padding-right:5px;}
.form-box{border:1px #7e7e7e solid;padding:4px 6px 6px 6px;height:24px;line-height:24px; }
.form-box-w-short{ width:230px;}
.form-box-w-length{width:550px;}
.form-box:focus {border:1px #09d solid;}
.form-font{font-family: "Microsoft JhengHei","Microsoft YaHei", Verdana, Arial; font-size:20px ;color:#242424;}
.page-main .registration-session-bottom{padding:15px 0;}
.input-control {display:inline-block;}
.input-control .important ,.input-select .important{ font-size:18px; color:#fe3535;font-style: italic; display:inline-block; padding-left:10px;}
.input-select {display:inline-block; /*width:100px;*/}
.input-select-mobile { width:245px;}
.input-select select{/*width: 100%;*/ padding: 2px 6px 6px 6px ; height:36px ;line-height:36px;font-size: 20px; line-height: 1; border:1px #7e7e7e solid; border-radius: 0; display:inline-block; overflow:hidden; /*Chrome*/-webkit-appearance: none; /*FF*/-moz-appearance: none; /*CSS3*/appearance: none; background: url(../images/new_arrow.png) no-repeat right center transparent; font-family: "Microsoft JhengHei","Microsoft YaHei", Verdana, Arial; ;color:#242424;}
.input-select select::-ms-expand {display: none; /*清除ie的默认选择框样式清除，隐藏下拉箭头*/}
.input-select select{ *background:url(../images/new_arrow.png) no-repeat -10px -10px;}/*假清除ie7的箭頭圖檔*/
/*_::-moz-tree-row(hover),.input-select select{ background:none;}清除FF的箭頭圖檔-7/15更新版FF好像不需要隱藏了*/
.input-select option {  font-weight: normal;  display: block;  padding: 0px 2px 1px;  white-space: pre;  min-height: 1.2em;}
/*上傳檔案bar*/
.upload-file-bar { position: relative;display: inline-block; }
.upload-file {position: absolute; left: 0; top: 0; width:244px; height:36px ; display:block; opacity: 0; filter: alpha(opacity:0);}
.upload-file-btn { height:30px;line-height: 30px;vertical-align: middle;	display: inline-block;margin-left:-30px; background:url(../images/icon_attach_file.png) no-repeat center center;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;background-size: contain; width:30px;border: none;}
body:not(:-moz-handler-blocked) .upload-file-btn {line-height: 26px;}/*只有 Firefox 3.5+ 才看的懂得選取器*/
.upload-file-text {width:238px; height:30px;	line-height: 30px;	padding: 2px;vertical-align: middle;display: inline-block; border:1px #7e7e7e solid;}



.btn-bar{ width:100%; margin-top:30px; margin-bottom:30px;}
.btn-bar .btn-box{ width:120px; height: auto; line-height:48px;  margin:auto;}
.btn-bar .btn-box input{width:100%; height:48px; font-size:20px; color:#FFF;text-align:center; background:#131313; border:none;font-family: "Microsoft JhengHei","Microsoft YaHei", Verdana, Arial;}
.btn-bar .btn-box input:hover{ background-color:#00a0e9; text-decoration: none;}
.btn-bar a{height:48px;line-height:48px; font-size:20px; color:#FFF; background:#131313; text-align:center;  display: inline-block; margin-right:30px; padding-left:20px; padding-right:20px;}
.btn-bar a:hover{ background-color:#00a0e9; text-decoration: none;}
.btn-bar .icon{ width:24px; height:24px;display:inline-block; margin-right:5px; margin-bottom:-4px;}
.btn-bar .icon-user{background: url(../images/icon_user@2X.png) no-repeat center center;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;background-size: contain;}
.btn-bar .icon-registration{background: url(../images/icon_registration@2X.png) no-repeat center center;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;background-size: contain;}
.btn-bar .icon-back{background: url(../images/arrow_back@1X.png) no-repeat center center;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;background-size: contain;}
.btn-bar .icon-search{background: url(../images/icon_search_plus@1X.png) no-repeat center center;}



/*內頁選單*/
.page-menu-box{ width:100%; height:70px; background:#131313; font-size:20px;}
.page-menu{ width:980px; margin:auto;}
.page-menu-box ul{ float:left; padding-left: 0;}
.page-menu-box input[type=checkbox]{ display: none;}
.page-menu-box li { /*float:left;*/ display:inline-block; width:160px; text-align:center; line-height:70px;margin-top:0;}
.page-menu-box li a { color:#e5e5e5; text-decoration: none;}
.page-menu-box li a:hover { color:#00a0e9;}
.page-menu-box .on {color:#00a0e9; width:168px; height:78px;display:inline-block; margin-top:-8px; padding-top:8px; background:url(../images/menu_bg.png) no-repeat top right; /*ie7*background:url(../images/menu_bg.png) no-repeat top right;*/}
.page-menu-box .disable{color:#656565;}
.page-menu-box .social-bar{float:right; margin-right:20px; margin-top:25px; width:auto;}
.page-menu-box .social-bar span{ text-indent:-999px; overflow:hidden; display:inline-block;white-space: nowrap;}
.page-menu-box .social-bar .icon-fb{ width:20px; height:20px; background:url(../images/icon_social.png); display:inline-block;}
.page-menu-box .social-bar .icon-fb:hover{background:url(../images/icon_social.png) 20px 0;}
.page-menu-box .social-bar .icon-googleplus{ width:20px; height:20px; background:url(../images/icon_social.png) 0 20px;display:inline-block; margin-left:8px;}
.page-menu-box .social-bar .icon-googleplus:hover{background:url(../images/icon_social.png) 20px 20px;}


/*404*/
.not-found {padding-top:30px;padding-bottom:100px;width:100%; background-color:#FFF; color:#72777b;}
.not-found .ui {width:800px;margin-left:auto;margin-right:auto;text-align: center;}
.not-found .ui img{margin-left: auto;  margin-right: auto; position: relative;vertical-align: middle; max-width: 100%; background-color: rgba(0,0,0,.05);display: block;}
.not-found h4 {line-height:24px; font-size: 24px;margin: 1em 0 1em;}
.not-found .not-found a, .not-found p {line-height: 28px; font-size: 20px; letter-spacing:normal; margin-bottom:20px;}
.not-found a{width:150px;height:48px;line-height:48px; font-size:20px; color:#242424; text-align:center;  display: inline-block; margin-right:30px;}
.not-found a:hover{ color:#00a0e9; text-decoration: none;}
.nff{ margin-bottom:-40px;}



/*footer區*/
#footer{ background:#252525; width:100%; height:55px; margin:40px auto 0 auto; position:relative;}
#footer .footer-logo{ width:95px; height:20px; background: url(../images/ft_infocus_logo.png) no-repeat; margin-top:17px; margin-left:30px; display:inline-block;}
#footer .copyright{position: absolute; padding-top:18px;right: 1em;display: inline-block; font-size:13px; color:#818181;}
#footer .copyright i{border-right: 1px solid #343434;  padding-right: 14px;  margin-right: 12px;}
#footer .copyright a{color:#bdbdbd; text-decoration: none;}
#footer .copyright a:hover{color:#00a0e9;text-decoration: none;}


/*小物件*/
.space-right-5{ padding-right:5px;}
.space-right-10{ padding-right:10px;}
.space-right-40{ padding-right:40px;}
.space-left-5{ padding-left:5px;}
.space-left-10{ padding-left:10px;}
.space-left-30{ margin-left:30px;}

.clear{ clear:both;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{ *zoom: 1; /*For IE 6&7 only*/}
